---
layout: page
title: "Riddles"
permalink: "/riddles/"
---

<div>A Riddles oldal még <i>BÉTA</i> fázisban van, segíts te is a fejlesztésében. Mondd el, mi kéne, mi hiányzik, hogyan valósítanád meg: <a href="https://github.com/kiskoza/qpaweb">github</a></div>

<h4>2015 - Made in Fluffy</h4>
<ol>
  {% for riddle in site.riddles %}
    {% if riddle.year == 2015 %}
      <li id="{{riddle.id}}" data-solution="{{riddle.sha256}}">
        <a href="{{ riddle.url }}">{{ riddle.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ol>

<h4>2013 - Good Old Days</h4>
<ol>
  {% for riddle in site.riddles %}
    {% if riddle.year == 2013 %}
      <li id="{{riddle.id}}" data-solution="{{riddle.sha256}}">
        <a href="{{ riddle.url }}">{{ riddle.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ol>

<script src="/assets/md5.js"></script>
<script src="/assets/sha256.js"></script>

<script>
(function() {
  for (var i = 0; i < localStorage.length; i++){
    var element = document.getElementById(localStorage.key(i));

    if(element != null && sha256(MD5(localStorage.getItem(localStorage.key(i)))) == element.dataset.solution){
      element.innerHTML = "[OK] " + element.innerHTML;
    }
  }
})();
</script>
