---
layout: default
---

<h1 style="text-align: center;">{{ page.title }}</h1>

<img src="/assets/riddles/{{ page.image }}" style="max-height: 60vh; margin: 0 auto; display: block;"/>

<div id="message"></div>
<input id="guess" type="text" autofocus autocomplete="off" placeholder="Tippelj!" style="min-width: 100%; max-width: 300px">

<script src="/assets/md5.js"></script>
<script src="/assets/sha256.js"></script>

<script>
(function(){
  check_guess = function () {
    real_guess = this.value.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(/[^a-z0-9]+/g, "")

    /* Nagyon sok időt fektettem a titkosításba, légyszi ne törd fel */
    if(sha256(MD5(real_guess)) == "{{ page.sha256 }}") {
      message.innerHTML = "Sikerült";
      localStorage.setItem("{{page.id}}", real_guess)
    } else {
      message.innerHTML = "Majdnem jó, próbáld újra™";
    }
  }

  guess.addEventListener("change", check_guess);
})();

</script>
